{% extends "base.html" %}

{% block extrahead %}


<!-- Twitter telegram etc -->
<meta name="description" content="Ehm.. weird website" />
<meta name="url" content="#">
<!--link rel="icon" href="favicon.ico" type="image/x-icon" /-->

<!-- Discord -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.abs_url }}" />
<meta property="og:image" content="#/image.png" />
<meta property="og:description" content="{{ config.site_description }}" />
<meta name="theme-color" content="#b472ed">

<!-- Include this to make the og:image larger -->
<meta name="twitter:card" content="summary_large_image">



{% endblock %}