{% extends "base.html" %}

{% block extrahead %}


<!-- Twitter telegram etc -->
<meta name="description" content="{{ config.site_description }}" />
<meta name="url" content="{{ page.url }}">

<!-- Discord -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:image" content="https://raw.githubusercontent.com/NiTiS-Dev/mdi-wiki/previews/{{ page.abs_url }}" />
<meta property="og:description" content="{{ config.site_description }}" />
<meta name="theme-color" content="#b472ed">

<!-- Include this to make the og:image larger -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ config.site_name }}">
<meta name="twitter:creator" content="{{ config.site_author }}">


{% endblock %}