.wy-side-nav-search {
    background-color: #212121;
}
.wy-nav-content {
  max-width: 100% !important;
}

.md-header {
    background-color: #212121 !important;
}
img#item-icon {
    width: 1.6em;
}
div.md-ellipsis > img#item-icon {
    margin-top: 12px;
}
div.md-ellipsis > img#item-icon {
    margin-top: 12px;
}
a.md-nav__link > img#item-icon {
}
h1 > img#item-icon {
    margin: 10px;
}
img#item-icon < h1 {
    display: flex;
    align-items: center;
}
